
* {
  height:none;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #9c9c9c;
  background-size: cover;
  
}



.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #0b6ae6; /* Cor do WhatsApp */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000; /* Garante que o botão fique acima de outros elementos */
  font-size: 30px; /* Tamanho do ícone */
  color: #fff; /* Cor do ícone */
}

.whatsapp-button img {
  width: 41px;
  
}


.whatsapp-button:hover {
  width: 61px;
  height: 61px;
  background-color: #0caa09e0;
}


/*Estilização Container ROlagem  Paatrocinadores*/
/* Estilização Container Rolagem Paatrocinadores */

header{
  background-color: #000000;
  display: flex;
  justify-content: center;
  justify-items: center;
}
.logo{

  width: 58px;
  height: 58px;
  
  
}
/*Estilização Menu */

.container-menu {
  background-color: #000000;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 10px;
  height: 120px;
  margin-top: 0px;
  
}

nav {
  position: relative;
  width: 523px;
  height: 50px;
  background: #39e539e9;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
  padding: 0 23px;
  z-index: 1;
}

nav span {
  display: flex;
  justify-content: center;
  justify-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 523px;
  height: 100%;
  background: #e1e4e6;
  border-radius: 5px;
  transition: 0.5s;
}
nav a:nth-child(1):hover ~ span {
  left: 67px;
  width: 60px;
}

nav a:nth-child(2):hover ~ span {
  left: 164px;
  width: 67px;
}

nav a:nth-child(3):hover ~ span {
  left: 269px;
  width: 79px;
}

nav a:nth-child(4):hover ~ span {
  left: 382px;
  width: 75px;
}

li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

/*Estilização Titulo */
.container-home {
  
  margin-top: 0px;
  gap: 20px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  color: #ffffff;
  
}

.container-home h1{
  font-size: 60px;
  
}


/*Estilização SubTitulo */
.conteudo-subtitulo {
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
  font-size: 15px;
  color: #ffffffd2;

}
.container-servicos-titulo{
  padding: 20px;
  height: 20px;
  font-size: 15px;
  background-color: #010101b5;
}
/*container subtitulo Services*/

.container-servicos-titulo h2{
  margin-top: 1px;
   letter-spacing: 3px;
   display: flex;
   justify-content: center;
   justify-items: center;
   color: rgb(250, 250, 250);
  
 }


/* Estilização Container Rolagem Patrocinadores */
.barra-patrocinadores {
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: #0338877e;
  overflow: hidden; /* Adicionado para esconder o overflow da animação */
  white-space: nowrap; /* Impede que os itens quebrem para a próxima linha */
}

.container-patrocinadores {
  display: inline-flex; /* Alterado para inline-flex para permitir o movimento horizontal */
  gap: 40px;
  justify-content: flex-start; /* Alinha os itens ao início */
  align-items: center; /* Alinha os itens verticalmente ao centro */
  animation: movePatrocinadores 20s linear infinite; /* Animação de movimento horizontal */
}

.container-patrocinadores img {
  margin: 0;
  transition: transform 0.3s ease;
}

.container-patrocinadores img:hover {
  transform: scale(1.2);
  animation-play-state: paused; /* Pausa a animação ao passar o mouse */
}

@keyframes movePatrocinadores {
  0% {
    transform: translateX(140%);
  }
  100% {
    transform: translateX(-130%); /* Move os itens para a esquerda */
  }
}



.container-servicos {
  display: flex;
  justify-self: stretch;
  justify-content: center;
  gap: 100px;
  height: 400px;
  background-color:rgb(0, 0, 0);
  
  }


.container-conteudo1{
  display: flex;
  justify-content: center;
  text-align: justify;
  margin-top: -15px;
  width: 300px;
  margin-left: 50px;
  color: white;
 
}
.conteudo1{
  text-align: center;
  margin-top: 100px;
  width: 400px;
  height: 230px;
  color: #0a8703;
  
}

 h3{
  margin-top: -0px;
  font-size: 27px;
  color: rgb(255, 255, 255)!important;
  margin-bottom: 30px;
 
 
 
}


.entrar-em-contato{
  margin-top: 20px;
   padding: 10px;
   width: 30px;
   height: 50px;
   border: solid 1px ;
   color: rgb(244, 244, 244);
   border-radius: 12px 0px ;
 }


 .entrar-em-contato:hover{
  background-color: #0a8703;

 }

.img2{
 margin-top: 100px;
  animation: float 6s ease-in-out infinite;
}



@keyframes float {
  0%, 100% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-70px);
  }
}





/*Estilização Container IMAGENS E VIDEOS*/



.container-imagensevideos {
  display: flex;
  justify-items: center;
  justify-content: center;

  background-color:rgba(0, 0, 0, 0.932);
  
  height: 530px;
  
  }
  .slider {
    width: 900px;
    overflow: hidden;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide:first-child {
    opacity: 1;
}

.slider:hover .slide {
    transition: none; /* Remove a transição ao passar o mouse */
}

.slider:hover .slide.active {
    opacity: 1; /* Garante que o slide ativo permaneça visível */
}













/*Estilização Container Projects*/

.titulo-projects {
  display: flex;
  justify-content: center;
  justify-items: center;
  padding: 20px;
  height: 20px;
 
  background-color: #010101b5;
}
.titulo-projects h3 {
margin-top: px;
  text-align: center;
  background-color: #eaedf1;
  font-size: 23px;
}







/*Estilização Makers Parceiro Videos1*/



.container-fileira1-videos{

display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
  height: 590px;
  background-color: #030303;
  gap: 10px;
  margin-bottom: 0px;

}
a{
  color: black;
}

/*Estilização Makers Parceiro Videos1*/

.video1{
  padding: 20px;
 height: 540px;
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 7px;
 width: 324px;
  background-color: #ffffff;
}

.titulo-video1{
  
  margin-top: -10px;
  text-align: center;
  background-color: #ffffff;
}

.texto{
  letter-spacing: 0.2px;
width: 300px;
margin-left: 10px;
  text-align:center;
  margin-top: 20px;
  
}



/*Estilização Makers Parceiro Videos2*/
.video2{
  padding: 20px;
  height: 540px;
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 7px;
  width: 324px;
  background-color: #ffffff;
}

.titulo-video2{
 
  margin-top: -10px;
  text-align: center;
  background-color: #ffffff;
}

.texto2{
  margin-top: 20px;
  text-align: center;
}
.cliqueAqui{
  color: #000000;
}


/*Estilização Makers Parceiro Videos3*/

.video3{
  padding: 20px;
  height: 540px;
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 7px;
  width: 324px;
  background-color: #ffffff;
}

.titulo-video3{
 
  margin-top: -10px;
  text-align: center;
  background-color: #ffffff;
}

.texto3{
  margin-top: 20px;
  text-align: center;
}



/*Estilização Makers Parceiro Videos4*/





/*Estilização Makers Fileira 2*/

/*Estilização Container Sobre/About*/
.container-redes {
  display: flex;
  justify-content: center;
  margin-bottom: -10px;
  justify-items: center;
  text-align: center;
  color: #edf0f1;
  background-color: #000000;
  gap: 20PX;
  
  padding: 20px;
  
}
.container-redes a{
color: #ffffff;
font-size: 14px;
}


.container-rodape{

  background-color: #000000;
  display: flex;
  justify-content: center;
  width: auto;
  padding: 10px;
 
}
.container-rodape i{
  margin-left: 12px;
  
  color: white;
}

.rodape a{
  margin-top: 2px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.972);
  background-color: #000000;
  display: flex;
  justify-content: center;
  justify-items: center;
  height: 20px;
}



/*Estilização Container Rodapé*/



/*Responsive  */
@media (max-width: 415px) {  
  

  /*Estilização Menu */

.container-menu .logo{
 
  width: 50px!important;
  height: 52px!important;
 
  
}
.container-menu{
  
  width: 200px!important;
  
  background-color: #000000;
}
  /*span do menu Hover */
nav span {
  display: flex;
  justify-content: center!important;
  justify-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 289px!important;
 
  height: 100%;
  background: #f3f4f4;
  border-radius:  8px;
  transition: 0.5s;
}
nav a:nth-child(1):hover ~ span {
  left: 1px;
  width: 68px!important;
}

nav a:nth-child(2):hover ~ span {
  left: 72px;
  width: 68px!important;
}

nav a:nth-child(3):hover ~ span {
  left: 142px;
  width: 75px!important;
}

nav a:nth-child(4):hover ~ span {
  left: 217px;
  width: 70px!important;
}
/*Botoes do Menu nav */
  nav a {
  display: flex;
  justify-content: center!important;
  margin-left: 0px!important;
   
     
  }


  .container-menu  img{
    width: 70px!important;
    height: 70px;
    margin-right: -10px;
    margin-left: -25px;
  }
nav{
  margin-right: -29px;
  margin-left: 4px!important;
  display:flex!important;
  justify-content: center!important;
  justify-items: center!important;
  width: 305px!important;
  gap: 2px!important;

 
  
}
  

  nav .home {
    display: flex;
    justify-content: center;
    width: 23px!important;
    
  }

  nav .projects {
    display: flex;
    justify-content: center;
    width: 25px;
  
  }

  nav .about {
    display: flex;
    justify-content: center;
    width: 25px;
    
  }
  nav .contact {
 
    display: flex;
    justify-content: center;
    width: 25px;
   
  }

.box img{
  width: 240px!important;
  height: 240px!important;
}


.container-home {
  margin-top: 60px;
  gap: 20px;
  display: flex;
  justify-content: center!important;
  justify-items: center;
  align-items: center;
  color: #ffffff;
 
  
}
.conteudo-subtitulo{
  font-size: 10px;
  margin-top: -10px;
  margin-bottom: 200px;
}

.container-servicos-titulo{
  background-color: #ffffff;
  padding: 20px;
 
 
}

.container-home h1{
 
margin-bottom: -10px;
  margin-top: -50px!important;
  text-align: center;
  font-size: 25px;
  color: #ffffff;
}

.container-servicos-titulo h2{
  font-size: 20px;
  margin-top: 0px;
  color: #000000;
  
}


/* Estilização Container Rolagem Patrocinadores */
.barra-patrocinadores {
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: #0338877e;
  overflow: hidden; /* Adicionado para esconder o overflow da animação */
  white-space: nowrap; /* Impede que os itens quebrem para a próxima linha */
}

.container-patrocinadores {
  display: inline-flex; /* Alterado para inline-flex para permitir o movimento horizontal */
  gap: 40px;
  justify-content: flex-start; /* Alinha os itens ao início */
  align-items: center; /* Alinha os itens verticalmente ao centro */
  animation: movePatrocinadores 20s linear infinite; /* Animação de movimento horizontal */
}

.container-patrocinadores img {
  margin: 0;
  transition: transform 0.3s ease;
}

.container-patrocinadores img:hover {
  transform: scale(1.2);
  animation-play-state: paused; /* Pausa a animação ao passar o mouse */
}

@keyframes movePatrocinadores {
  0% {
    transform: translateX(90%);
  }
  100% {
    transform: translateX(-90%); /* Move os itens para a esquerda */
  }
}



  .container-servicos-titulo h2{
    margin-top: 1px;
     letter-spacing: 3px;
     display: flex;
     justify-content: center;
     justify-items: center;
     color: rgb(0, 0, 0);
    
   }
 /*Estilização div serviços codigos acima ok */





  
    .container-servicos {
      display: flex;
      justify-items: center!important;
      justify-content: center!important;
    
      height: 310px;
    
       
      }
  
      .container-box-img{
       margin-left: 55px;
       width: 160px;
  
  
  
  
  
      }

   
  
      .img2{
       width: 165px;
       height: 190px;
      }
  
  
  .servicos-box{
    margin-top: 20px;
   margin-left: -120px;
    width: 200px;
    height: 200px;
   
  
  }
  
 
  
  .conteudo1{
    margin-top: 10px;
    padding: 10px;
    width: 205px;
    margin-left: 120px;
    border-radius: 12px;
    text-align: justify!important;
  
    color:#ffffff;
    font-size: 11px;
    height: 200px;
    
  }
  
  .container-conteudo1{
    width: 180px;
    height: 130px;
    margin-top: -20px;
  
    margin-left: 5px!important;
    margin-right: 5px!important;
    
  }

  .solicite-orcamento-titulo{
   
   height: 20px!important;
 
    width: 190px!important;
    text-align: center;
    font-size: 16px!important;
  }

  
    .entrar-em-contato {
      
      text-align: center;
      width: 30px!important;
      font-size: 10px;
      
      margin-left: 30px;
    }

    .container-botao-contato{
      margin-top: -10px;
      margin-left: 20px;

    }
  



    .titulo-projects {
      display: flex;
      justify-content: center;
      justify-items: center;
      padding: 20px;
      height: 20px;
     
      background-color: #ffffff;
    }
    .titulo-projects h3 {
    
      text-align: center;
     
      font-size: 22px!important;
      color: #000000!important;
      letter-spacing: 3px!important;
      
    }







/*Codigos acima Ok*/

.container-imagensevideos{
  height: 240px!important;
}

.container-imagensevideos {
  display: flex;
  justify-items: center;
  justify-content: center;

  background-color:rgba(0, 0, 0, 0.932);
  
  height: 530px;
  
  }
  .slider {
    width: 900px;
    overflow: hidden;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide:first-child {
    opacity: 1;
}

.slider:hover .slide {
    transition: none; /* Remove a transição ao passar o mouse */
}

.slider:hover .slide.active {
    opacity: 1; /* Garante que o slide ativo permaneça visível */
}










  .container-fileira1-videos{
   
    display: flex!important;
    justify-content: center!important;
    flex-direction: row!important;
    flex-wrap: wrap!important;
    height: 1695px; ;
      background-color: #030303;
      
     
      
    
    }
    a{
      color: black;
    }


    .video1, .video2, .video3{
      height: 460px;
      margin-top: 30px!important;
    }
  
  /*Estilização Makers Fileira 2*/
  
  /*Estilização Container Sobre/About*/
  .container-redes {
    
    display: flex;
    justify-content: center;
    margin-bottom: 0px!important;
    justify-items: center;
    text-align: center;
    color: #edf0f1;
    background-color: #000000;
    gap: 10px!important;
    
    padding: 20px;
    
  }
  .container-redes a{
  color: #ffffff;
  font-size: 14px;
  }
  
  
  .container-rodape{
  
    background-color: #000000;
    display: flex;
    justify-content: center;
    width: auto;
    padding: 10px;
   
  }
  .container-rodape i{
    margin-left: 12px;
    
    color: white;
  }
  
  .rodape a{
    margin-top: 2px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.972);
    background-color: #000000;
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 20px;
  }
  
  
  
}





